name: CI
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    verify:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: 'pnpm'

            - uses: actions/setup-go@v5
              with:
                  go-version: 1.25
                  cache: true
                  # look at all go.sum files in the workspace for caching
                  cache-dependency-path: '**/*.sum'

            - name: Install Dependencies
              run: make deps

            - name: Workspace Check
              # go work sync verifies the go.work file matches the modules
              run: go work sync

            - name: Verify Formatting
              run: |
                  pnpm run format --check
                  # Using the raw command here ensures we catch unformatted code across all modules
                  find . -name "go.mod" -execdir go fmt ./... \;
                  # Fail the job if go fmt modified any files
                  git diff --exit-code
